.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
     border: 1px solid black;
    background: #000;
    color:white;
}
.header > img{
padding-left: 100px;
}

.nav-item > ul{
    list-style-type: none;
    display: flex;
} 

.nav-item > ul > li  {
    padding: 10px;
}

.logo{
    width: 130px;
}
#title{
    align-items: center;
}
.card {
    border: solid #eee7e7;
    width: 200px;
    margin: 10px;
    padding: 10px;
    /* border: solid #727171; */
}
.card > img {
    border: solid hsl(0, 0%, 56%);
    width: 100%;
}
.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(241, 232, 232);
    margin: 20px;
}
